@model IEnumerable<FitnessMVC.Models.Instructor>
@{
    ViewBag.Title = "Index";
}

<h2>Naš tim</h2>

<button class="btn btn-default">@Html.ActionLink("Add new", "New", "Instructors")</button>

@if (!Model.Any())
{
    <p>Nema instruktora...</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Ime</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instruktor in Model)
            {
                <tr>
                    <td>
                        @if (instruktor.Image != null)
                        {
                            <a href="~/Content/@instruktor.ImagePath" data-lightbox='slika + @instruktor.Id'><img src="~/Content/@instruktor.ImagePath" alt="instruktor" height="90" /></a>
                        }
                        else
                        {
                            <img src="~/Content/Images/avatar.png" alt="instruktor" height="90"/>
                        }
                    </td>
                    <td>@instruktor.Name</td>
                    <td>@instruktor.Email</td>
                    <td>
                        @using (Html.BeginForm("Edit", "Instructors", new { id = instruktor.Id }))
                        {
                            <button type="submit" class="btn btn-primary">Edit</button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Instructors", new { id = instruktor.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
}

